Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

fix: remove repeated conditions from topnav
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.23 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  dbc6c22c8c9480731b9fcfec9bca24c1b2e6d6bc
Due: none

feat: update topnav design
  .storybook/main.cjs
  .storybook/preview.css
  .storybook/preview.js
  package-lock.json
  package.json
  postcss.config.cjs
  rollup.config.js
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/components/structures/Page/Page.stories.js
  src/components/structures/TopNav/TopNav.stories.js
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
  src/components/templates/Collection/Collection.stories.js
  src/components/templates/Details/Details.stories.js
  src/components/templates/Profile/Profile.stories.js
  src/styles/utils/flex.module.css
Due: eslint --cache --fix, prettier --write --cache

chore: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

fix: rollup config for styles
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  64348fc9e861fcc79c591a958c6803084381f5fd
Due: none

perf: update antd
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  350fe015b24437a979c8fe967e8daf8808911b11
Due: none

fix: hook import
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  bc0de66e4668f75d9afeb6bb65d8231ad67a8e87
Due: none

fix: topnav content left ref
  package-lock.json
  package.json
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0ba02809f7d681f64ef4f6c711d387dcdf348052
Due: none

perf: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  f77f6a63efe2ac8fb348ccff755f317d8277ee31
Due: none

fix: text input label flex
  src/components/atoms/TextInput/textInput.module.css
Due: none

chore(release): 1.4.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  9ca81758a0f01b93360c2690ffb310c8c478f001
Due: none

chore: update lock file
  package-lock.json
Due: prettier --write --cache

chore(release): 1.4.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  3b38f5d7c864a7dbe7dac93fdb2a92b90d424d01
Due: none

fix: circleprogress using nan as stroke offset
  package.json
  src/components/atoms/CircleProgress/CircleProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

perf: update packages
  package-lock.json
  package.json
  src/components/atoms/Anchor/Anchor.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.4.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  b8502e3e755d8b4bb11cd606ec2273b80c8aadbd
Due: none

feat: update rollup config to preserve modules
  .eslintrc.cjs
  .gitignore
  .releaserc.json
  .storybook/preview.js
  package-lock.json
  package.json
  rollup.config.js
  rollup.config.ts
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/Image/ImageLoader.tsx
  src/components/atoms/Tag/TagLoader.tsx
  src/components/atoms/Text/TextLoader.tsx
  src/components/atoms/TextGroup/TextGroupLoader.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/structures/TopNav/TopNav.tsx
  src/hooks/useMeasureInput.ts
  src/tools/storybook.tsx
  src/vendors/ContentLoader.ts
  tsconfig.json
  tsconfig.rollup.json
  types/css.d.ts
  types/global.d.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  251f791cc813674d858b7485260665a6153d11bd
Due: none

fix: rollup postcss config for custom media queries
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  149d682f8ec80cb76c3b6201207b4b6dbd5da168
Due: none

perf: update packages
  package-lock.json
  package.json
  src/styles/media.css
  src/styles/media.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache
