Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

fix: topnav banner css
  .github/dependabot.yml
  .github/workflows/chromatic.yml
  .github/workflows/release-please.yml
  .storybook/main.cjs
  package-lock.json
  package.json
  rollup.config.js
  src/components/structures/TopNav/topNav.module.css
Due: eslint --cache --fix, prettier --write --cache

fix: hide right icon for no data
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: remove release please version
  .github/workflows/release-please.yml
Due: none

feat: add browserslist config
  .browserslistrc
Due: none

chore: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

chore: update packages
  package.json
Due: prettier --write --cache

fix: package lock
  package-lock.json
Due: prettier --write --cache

fix: imports in storybook tool
  src/tools/storybook.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: update package versions
  package-lock.json
  package.json
Due: prettier --write --cache

build(deps): update wo-library
  package-lock.json
  package.json
Due: prettier --write --cache

fix: types for formatnumber
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

fix: move from release please to semantic release
  .github/workflows/release-please.yml
  .github/workflows/semantic-release.yml
Due: none

fix: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

fix: semantic release config
  .releaserc.json
Due: prettier --write --cache

chore(release): 1.3.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  9ba2f66c0feb98495541575f2d1a5a7ef962b634
Due: none

chore: update package lock
  package-lock.json
Due: prettier --write --cache

chore(release): 1.3.5 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7523a0d34e11ffbeced51bca479dc6487f959b69
Due: none

chore: fix lock file
  package-lock.json
Due: prettier --write --cache

Notes added by 'git notes add'
  c4b62648be88b31036a26a51e735e6cce319b3e6
Due: none

chore(release): 1.3.6 [skip ci]
  CHANGELOG.md
Due: none

fix: revert antd upgrade
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: udpate package lock
  package-lock.json
Due: prettier --write --cache

chore(release): 1.3.7 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bbc52c236cc696f8373cd44d9af4f320875462b9
Due: none

fix: update antd to v5
  package-lock.json
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.8 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  960a895cc1c402aabc9a1a6e1ae4dbbda99978d4
Due: none

fix: revert antd to v4
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.3.9 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e25cca5e874a2be2fbe8eb258a33e6182ff0ca7b
Due: none

fix: topnav flickering for pre-rendered page
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.10 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  12c2abcb69f553b163b9b6d2a77b0c6396b61076
Due: none

fix: topnav conditions for mobile view
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
Due: eslint --cache --fix, prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
