Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

Notes added by 'git notes add'
  b2d4382d921919f460d45be48f71eae9bfd2ed23
Due: none

refactor: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  29a3de13b37d8b439b23a9147b7e99bbac2d53e2
Due: none

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0404bc591145022f7e4bdc46a63aeddb4fa2969a
Due: none

feat: add innerClassNames to TextInput
  .github/dependabot.yml
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  c0a721c89205ced0dca6d4f18b4cd00aea77c2f9
Due: none

fix: input innerClassNamse default
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ef8bf5ac5874598d46b18840266347c3e403727a
Due: none

refactor: update packages
  .storybook/main.cjs
  .storybook/preview.js
  babel.config.cjs
  package-lock.json
  package.json
  src/components/atoms/Anchor/Anchor.stories.js
  src/components/atoms/Bookmark/Bookmark.stories.js
  src/components/atoms/Button/Button.stories.js
  src/components/atoms/Card/Card.stories.js
  src/components/atoms/Container/Container.stories.js
  src/components/atoms/FormGroup/FormGroup.stories.js
  src/components/atoms/Hero/Hero.stories.js
  src/components/atoms/Image/Image.stories.js
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/Spinner/Spinner.stories.js
  src/components/atoms/Tag/Tag.stories.js
  src/components/atoms/Text/Text.stories.js
  src/components/atoms/TextGroup/TextGroup.stories.js
  src/components/atoms/TextIcon/TextIcon.stories.js
  src/components/atoms/TextInput/TextInput.stories.js
  src/components/atoms/atoms.stories.mdx
  src/components/structures/Page/Page.stories.js
  src/components/structures/SideNav/SideNav.stories.js
  src/components/structures/TopNav/TopNav.stories.js
  src/components/templates/Collection/Collection.stories.js
  src/components/templates/Details/Details.stories.js
  src/components/templates/Profile/Profile.stories.js
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  6228b614b7a89cbc171dd0fb8d81043421d93b12
Due: none

fix: fix jest config
  .gitignore
  .vscode/launch.json
  jest.config.cjs
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.9.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  fbd7c22a28d910c66514ef6f72f1583cde2aeb82
Due: none

fix: tsconfig for jest and rollup
  jest.config.ts
  package-lock.json
  package.json
  rollup.config.ts
  tsconfig.jest.json
  tsconfig.rollup.json
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.9.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0349dea2cfb38a7abb4fc021f0b7b023c8d2cc7d
Due: none

feat: add 'parse' option to NumberInput to return number type
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
  src/components/atoms/HookFormInputWrapper.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/HookFormInputWrapper/index.tsx
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/index.ts
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  d6642c52d5f046c79fc7b94364d6403ae890e208
Due: none

fix: added inital value for textinput
  package-lock.json
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  636db24f9e0f51cd35994a99bdf36d1010b548bf
Due: none

fix: added settextvalue in useeffect and made parse default true for basic number input
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: added overflow hidden in the page module
  src/components/structures/Page/page.module.css
Due: none

fix: added emptyvalue prop to numberinput
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  f4fdc529f112fdb9001e5172f00993dd2e9ba633
Due: none

chore(release): 1.10.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  20369dd7f9361da532b6cc87129e921f15deb728
Due: none

fix: logic for setting number in number input changed
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: logic for setting number in number input changed
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

refactor: update packages
  package-lock.json
  package.json
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Card/Card.tsx
  src/components/atoms/Container/Container.tsx
  src/components/atoms/Divider/Divider.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/Image/Image.tsx
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/Title/Title.tsx
  src/styles/base.css
  src/tools/number.ts
  src/tools/path.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.10.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache
