Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  afa0cca67e8e0388c3d978dda44e22532a6c135d
Due: none

feat: mark sideEffects as false for webpack
  package-lock.json
  package.json
  src/components/atoms/ArcProgress/ArcProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  68d39e23818719a339f180e1c32e38d7881fd1ae
Due: none

refactor: update packages
  .releaserc.json
  package-lock.json
  package.json
  src/components/atoms/ArcProgress/ArcProgress.tsx
  src/components/atoms/ArcProgress/useProgressAnimations.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  7d931ee377198e8d836ffe6d3d41a56ffce6b7b6
Due: none

fix: fix storybook config import
  .storybook/main.cjs
Due: none

Notes added by 'git notes add'
  77739515cc13cb37811c26a9eb055042664f77f3
Due: none

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

refactor: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.7.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ff9c0f4231b62caebd97ee058fbbb93c8fc7edd3
Due: none

fix: changed format type for NumberInput
  .storybook/main.cjs
  package-lock.json
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

fix: added mode for selecting decimal
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore: update new numberInput
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  d40f3f493c7ff7d377e9c4c449a0407083f42ac7
Due: none

fix: format number relation between min and max fraction
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  4ce538016656732597d90fe00cf71a60e888bb49
Due: none

fix: default min fraction digits
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/__tests__/number.test.js
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  38e8cb02cd3357d09130640d186c3bd7ce93c752
Due: none

fix: text input width fix
  src/components/atoms/TextInput/textInput.module.css
Due: none

fix: revert text input style
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/TextInput/textInput.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  31a34d2c2bef7236f0c4154703cb0dbae1bdb254
Due: none

fix: added condition to convert it to string
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

fix: value.endsWith edge case fixed
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

fix: fix error on number input in format function
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  856e4a0b98e77e25a94fc418ff7acdd6d20655cc
Due: none

fix: numberinput convert to string
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: fix error on number formatting
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.7.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  a11064ab7a5fd3adff87272837687614b9130d34
Due: none

feat: add fractionDigits to formatNumber for simpler cases
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
