Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

Notes added by 'git notes add'
  38/829e17b545a6d13ff4ebbd97e2f55272d76be3
Due: none

fix: disable defaultvalue override when undefined
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  db/e9ffed8e09fd9b0bb155d74827c9e9a14e264d
Due: none

fix: removed condition to set formatted value
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: text value without `format` option not working
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  e6/ed9eac8a9cc7715cff1e0e1b5b4cd44c245904
Due: none

fix: return type of formatNumber set as string
  package-lock.json
  package.json
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  bf/c211787b7ab71de6809dd7080accafd67f2705
Due: none

fix: remove default value of shouldUpdate in HookFormInputWrapper method
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: update semantic version
  package-lock.json
Due: prettier --write --cache

chore: fix typing
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  65/d3fa5f392939f5a99fac186a92c66baa502263
Due: none

refactor: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 2.1.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  aa/f8ebfd47d4a44d4bef13ad584a84080eb9dbee
Due: none

fix: added polyfill for country flags emoji on windows
  package-lock.json
  package.json
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/PhoneNumberInput/phoneNumberInput.module.css
  src/components/atoms/TextInput/TextInput.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write --cache

chore: update babel config
  babel.config.cjs
Due: none

refactor: udpate FileInput prop types
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  95/584e3abac2b9a4ea183a999078e4794741dc21
Due: none

chore: fix rendering of `HookFormInputWrapper.stories`
  package-lock.json
  package.json
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: fix issue adding trailing 0 with format enabled in NumberInput
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  12/ef20704d94a328d0b8ca043fa57e028b1f468c
Due: none

feat: add latest code for hook-form-input-wrapper on 1.x
  src/components/atoms/FormError.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/formError.module.css
Due: eslint --cache --fix, prettier --write --cache

fix: onChange not working for FormattedInput when `emptyValue` present without `format`
  package-lock.json
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  cd/f45bc3313a25d611356c7b1d4eca1f75b5b4f0
Due: none

chore(release): 1.12.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Merge branch '1.x'
  package-lock.json
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: hook-form-wrapper single error case
  package-lock.json
  package.json
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  91/5ff4d4af3252a5909fd174ae8ec37542a59eaa
Due: none

chore(release): 2.1.17 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  b1/b7e3c9b1f9735890fc93b95a4f034e948fffbb
Due: none

refactor: update packages
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write --cache

chore(release): 2.1.18 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache
