Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  43f63874873765d536eccb1fdcb3048c3879a40f
Due: none

feat: add display font family type
  src/components/atoms/Title/title.module.css
  src/styles/base.css
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  9e538502fd63ab7cdb74f3e1987a5d86f8e3c92b
Due: none

perf: update packages
  .gitignore
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write --cache

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  01e0fc86485881581eb3f3444c776a51d5c1763a
Due: none

fix: improve typing
  .eslintrc.cjs
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
  src/components/atoms/ArcProgress/ArcProgress.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Card/Card.tsx
  src/components/atoms/Spinkit/index.tsx
  src/components/atoms/Symbol/Symbol.tsx
  src/components/structures/Page/Page.tsx
  src/hooks/usePropRef.ts
  src/tools/storybook.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  b2919d69f180decd8ac8056fde92066a92945534
Due: none

fix: improve antformitemwrapper prop types
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  926cd148ac179118c69c43a3f4dcb41af7754890
Due: none

fix: remove box-shadow-inset variable causing unknown error
  src/components/atoms/TextInput/textInput.module.css
Due: none

chore(release): 1.6.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  2503c69c85faec279fb529ce3d01a5a6d6576fb7
Due: none

perf: update wo-library
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
  rollup.config.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ea9134e06b4b9b4940be3ed04e5ff3e373591243
Due: none

perf: udpate packages
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.6.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  cdb5b3c319e5f06b2287d27bcfba0bf0f0c0aac9
Due: none

perf: update wo-library
  package-lock.json
  package.json
Due: prettier --write --cache

perf: update wo-library
  package-lock.json
  package.json
  rollup.config.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  27fcefaf79ab00a18d9d27d66b784557fe00a466
Due: none

fix: fix page sidenav responsive breakpoints
  src/components/structures/Page/page.module.css
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  b0f180a9c6e31378f36eb40644d4e43c4b7e86f1
Due: none

perf: update react-icons import to esm
  src/components/atoms/Bookmark/Bookmark.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/structures/TopNav/TopNav.tsx
  src/components/templates/Collection/index.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  393007b42056205fbbf986a5c5c6389a69a0eea4
Due: none

fix: add generic type to useProfRef
  .commitlintrc.json
  .eslintrc.cjs
  src/hooks/usePropRef.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  3834d1927d25ae3f48b919b884d58ab0841127f1
Due: none

fix: fix react-icons imports
  src/components/atoms/ArcProgress/ArcProgress.tsx
  src/components/atoms/Bookmark/Bookmark.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/structures/TopNav/TopNav.tsx
  src/components/templates/Collection/index.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.6.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  6e771af40aec40f547f0f3304b0785c02aaeace0
Due: none

fix: replace react-icons with tabler icons
  package-lock.json
  package.json
  src/components/atoms/Anchor/Anchor.stories.js
  src/components/atoms/ArcProgress/ArcProgress.tsx
  src/components/atoms/Bookmark/Bookmark.tsx
  src/components/atoms/Button/Button.stories.js
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/Tag/Tag.stories.js
  src/components/atoms/TextGroup/TextGroup.stories.js
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/atoms/TextInput/TextInput.stories.js
  src/components/structures/SideNav/SideNav.stories.js
  src/components/structures/TopNav/TopNav.stories.js
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
  src/components/templates/Collection/index.tsx
  src/tools/storybook.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: update packages
  package-lock.json
  package.json
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
