Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  3d/2b09fe4acc5f2d9f96177fd93fe1170b9f84cc
Due: none

refactor: switch from npm to yarn
  .gitignore
  .pnp.loader.mjs
  .yarn/patches/rollup-plugin-postcss-npm-4.0.2-6f4a722324.patch
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  link.sh
  package-lock.json
  src/components/atoms/Anchor/anchor.module.css
  types/country-flag-emoji-polyfil.d.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore: update yarn commands in workflows
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .github/workflows/semantic-release.yml
  .husky/commit-msg
  .husky/pre-commit
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write --cache

fix: improve TopNav sticky behaviout
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
  src/contexts/LayoutContext/state.ts
Due: eslint --cache --fix, prettier --write --cache

chore: fix dependencies
  package.json
  yarn.lock
Due: prettier --write --cache

chore: fix dependencies
  .github/workflows/semantic-release.yml
Due: none

chore: update release config
  .releaserc.cjs
Due: none

chore(release): 3.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ac/b1af29eb2eb09ecf3e3036871329e6027c090f
Due: none

feat: errors prop in hook form
  src/components/atoms/HookForm.stories.tsx
  src/components/atoms/HookForm.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: remove divider from topnav if not required by content
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .github/workflows/semantic-release.yml
  .gitignore
  package.json
  rollup.config.js
  src/components/structures/TopNav/TopNav.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.4.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  f5/51712c5c3a034f2f36c6af82971fb3bd5992e5
Due: none

fix: fix SideNav toggled styles on small devices
  package.json
  src/components/atoms/CircleProgress/circleProgress.module.css
  src/components/structures/SideNav/SideNav.stories.tsx
  src/components/structures/SideNav/sideNav.module.css
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.4.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  be/0274964fd238202d4cc6bf558c5c30781c54be
Due: none

chore: update HookForm errors type
  .pnp.loader.mjs
  src/components/atoms/HookForm.tsx
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  a5/6bd26c5873df13617fe253bf1ed4c7f47a3c36
Due: none

chore(release): 3.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

refactor: use new rollup config
  .eslintignore
  .eslintrc.cjs
  babel.config.cjs
  babel.config.js
  package.json
  patches/rollup-plugin-postcss+4.0.2.patch
  postcss.config.cjs
  rollup.config.js
  src/components/atoms/ArcProgress/ArcProgress.tsx
  src/components/atoms/Button/button.module.css
  src/components/atoms/HookForm.tsx
  src/components/atoms/Spinkit/spinkit.module.css
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/loaderWrapper.module.css
  src/components/structures/SideNav/sideNavFooter.module.css
  src/styles/base.css
  src/styles/storybook.css
  src/types/country-flag-emoji-polyfil.d.ts
  src/types/wo-library.d.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.rollup.json
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore: update yarn pnp sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  package.json
  postcss.config.cjs
  src/components/atoms/ArcProgress/ArcProgress.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  23/4e5bca1679b4f1357bf207b1112ab4f6b58218
Due: none

refactor: merge lint and release ci jobs
  .github/workflows/lint.yml
  .github/workflows/semantic-release.yml
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  98/6f9a4072562078016518f447883bc701c17fa1
Due: none

fix: pass html for in label
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  src/components/atoms/Label.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.5.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  1b/c27e80efc5a57aea73f865cf0cd5e1b6bb465e
Due: none

refactor: update packages
  package.json
  yarn.lock
Due: prettier --write --cache

chore: refactor atoms/Label
  src/components/atoms/Label.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.5.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  e3/1f6645e21ae333af4e72a33112d11ce9ad8bf5
Due: none

chore: update tsconfig to fix vscode cpu usage
  .prettierignore
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  fa/a1ab9a3eb0880e24e21a7d3fcf52b1d38bff55
Due: none

chore(release): 3.5.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

refactor: add lint cache
  .eslintignore
  .github/workflows/semantic-release.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write --cache

chore: update package
  package.json
  yarn.lock
Due: prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
