Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

fix: formatted input width
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/FormattedInput/formattedInput.module.css
Due: eslint --cache --fix, prettier --write --cache

refactor: reuse global type declarations from wo-library
  package-lock.json
  package.json
  rollup.config.js
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/types/interfaces/processEnv.ts
  src/types/node.ts
  tsconfig.json
  types/css.d.ts
  types/global.d.ts
  types/wo-library.d.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  56/dc6b794e79dfaa9c8fd99098d61c308504352e
Due: none

refactor: add reference to wo-library window types
  package-lock.json
  package.json
  types/wo-library.d.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  8f/d741b243ea323010137a0602f48d0d6c6ad61e
Due: none

fix: file input placeholder
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FileInput/fileInput.module.css
Due: eslint --cache --fix, prettier --write --cache

fix: use variant from topnav props in cloned top nav
  src/components/structures/Page/Page.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: increase z index of modal
  src/styles/base.css
Due: none

chore(release): 3.1.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  99/3fa24d5511594a086a61df0424349437bf544b
Due: none

fix: hide choose file in safari
  src/components/atoms/FileInput/fileInput.module.css
Due: none

fix: toggle-drawer in topnav
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

feat: update media breakpoints based on recent usage
  src/styles/base.css
  src/styles/media.css
  src/styles/media.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  2e/f5b0e07fdc884716fb082a9048f8a44cd75701
Due: none

feat: add ScrollContext to integrate with overlayscrollbars
  package-lock.json
  package.json
  src/contexts/ScrollContext/index.tsx
  src/contexts/ScrollContext/methods.ts
  src/contexts/ScrollContext/scrollContext.module.css
  src/contexts/ScrollContext/state.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  1a/52755f0ea25a7ca47e3439fb0e1b7ff0794d30
Due: none

fix: add className prop to HookForm
  src/components/atoms/HookForm.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  71/7086c435965c3d7a25f0b8d8274faed8b4f5f9
Due: none

fix: formatted input value prop change
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: side nav toggle
  src/components/structures/Page/Page.tsx
  src/components/structures/SideNav/SideNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: update FormattedInput stories
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: fix value not updating for FormattedInput after modification
  package-lock.json
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  13/6d9a63009bfcd44eb2e1cbc868f4ad868213ba
Due: none

fix: conditionally set formatted and parsed values
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: file input with children instead of placeholder
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: play functions for formattedInput
  package-lock.json
  package.json
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

feat: revamp Page, TopNav and SideNav components
  .storybook/preview.css
  package-lock.json
  package.json
  src/components/__stories/CardTemplates.tsx
  src/components/__stories/LoremCard.tsx
  src/components/__stories/SideNavTemplates.tsx
  src/components/atoms/Anchor/anchor.module.css
  src/components/atoms/Button/button.module.css
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/Text/Text.tsx
  src/components/structures/Page/Page.stories.tsx
  src/components/structures/Page/Page.tsx
  src/components/structures/Page/page.module.css
  src/components/structures/SideNav/SideNav.stories.tsx
  src/components/structures/SideNav/SideNav.tsx
  src/components/structures/SideNav/SideNavGroup.tsx
  src/components/structures/SideNav/SideNavItem.tsx
  src/components/structures/SideNav/sideNav.module.css
  src/components/structures/SideNav/sideNavGroup.module.css
  src/components/structures/SideNav/sideNavItem.module.css
  src/components/structures/TopNav/TopNav.stories.tsx
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/TopNavItem.tsx
  src/components/structures/TopNav/topNav.module.css
  src/components/structures/TopNav/topNavItem.module.css
  src/components/templates/Collection/Collection.stories.tsx
  src/components/templates/Details/Details.stories.tsx
  src/components/templates/Profile/Profile.stories.tsx
  src/contexts/LayoutContext/index.tsx
  src/contexts/LayoutContext/methods.ts
  src/contexts/LayoutContext/state.ts
  src/hooks/usePropRef.ts
  src/styles/base.css
  src/styles/storybook.css
  src/wrappers/div.module.css
  src/wrappers/div.tsx
  src/wrappers/span.module.css
  types/wo-library.d.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  eb/c72e5c1589c8e5627b2df6befa502bbff68521
Due: none

fix: fix storybook autodocs failing to load
  .prettierignore
  package-lock.json
  package.json
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ab/879b2eb9ce795a54f62adcc31102139b3695ff
Due: none

fix: fix imports
  src/components/structures/Page/Page.tsx
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache
