Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  1f/7b8c33a5981134138a30fa21c1f334660f2036
Due: none

feat: the delete button hide when we open ecas modal in mobile browser
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FileInput/fileInput.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  5e/23c39a7c7dbedf79aa8aae1c3a97ce63e6fd3a
Due: none

fix: fix styles for FileInput status
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FileInput/fileInput.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  5c/10befc9305bdfcc32241d95c6d079d51373159
Due: none

fix: fix FileInput innerClassNames type
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  cc/e951a89ce91e5e9ad11597d2b22b983b2a23cf
Due: none

chore: export props type in hook-form
  src/components/atoms/HookForm.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: pass event param and call the handle-submit in hook-form
  package-lock.json
  src/components/atoms/HookForm.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  2f/8c032857997a2a37879eb06eb949cbd2b60873
Due: none

refactor: update semantic release config to include refactor commits
  .releaserc.json
  CHANGELOG.md
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  92/00f6d50472cff7a8f06be62f492e4eeaf23563
Due: none

refactor: udpate wo-library version
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.13.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  91/bed9ea51cc4b0c9374cd7ef2f60caab4855224
Due: none

fix: chanes in ui of password text input in e-cas modal
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: resolve comment
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix:remove unneccesary code
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: `useId` for generating ids
  package-lock.json
  package.json
  src/components/atoms/Anchor/Anchor.stories.tsx
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/AntFormItemWrapper.tsx
  src/components/atoms/ArcProgress/ArcProgress.tsx
  src/components/atoms/ArcProgress/useProgressAnimations.ts
  src/components/atoms/Button/Button.tsx
  src/components/atoms/CircleProgress/CircleProgress.tsx
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/HookForm.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/Spinner/Spinner.tsx
  src/components/atoms/Symbol/Symbol.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/structures/Page/Page.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  e0/39c35f2ee4bc4e551e6be3b1440af43bd1c363
Due: none

fix: allow react nodes as input labels
  src/components/atoms/TextInput/TextInput.tsx
  src/components/structures/TopNav/TopNav.tsx
  src/tools/uploadFile.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  59/e22ab55e9d1479f7d4613033e03abefc1bdac7
Due: none

refactor: update eslint config
  package-lock.json
  package.json
  src/components/atoms/Anchor/anchor.module.css
  src/components/atoms/Button/button.module.css
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/TextInput/textInput.module.css
  src/components/structures/Page/page.module.css
  src/components/structures/TopNav/topNav.module.css
Due: prettier --write --cache

chore(release): 2.3.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  d3/1ab411bd8c039eedc29dc71d31ae0d1ff2d010
Due: none

fix: remove inline styling in password Input
  src/components/atoms/FileInput/FileInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: fix password input styling for file input
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/label.module.css
  src/tools/input.ts
  src/tools/uploadFile.ts
Due: eslint --cache --fix, prettier --write --cache

chore: css variables for screen widths
  src/styles/base.css
Due: none

chore(release): 2.3.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0f/b694181d3d8ab9f1c51c26b76ada1fd749cec8
Due: none

chore(release): 2.3.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
