Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

chore(release): 1.3.11 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  01f0026f53df8620df31873cba13314e9c78d8ed
Due: none

chore: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

fix: set html overflow auto
  src/components/structures/Page/page.module.css
  src/styles/base.css
Due: none

chore(release): 1.3.12 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  35c67c23d76b93b1ce08daa75db44c62be2616b8
Due: none

fix: remove html overflow auto and change height to min-height
  src/styles/base.css
Due: none

chore(release): 1.3.13 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f20bfb772eaa8be671d6c6857731c9dafde41ce4
Due: none

fix: top nav banner height
  src/components/structures/TopNav/topNav.module.css
Due: none

chore: banner media screen size condition changed
  src/components/structures/TopNav/topNav.module.css
Due: none

fix: update packages
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 1.3.14 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  02d89f288b197d07d9e75b0e8cb4a25d52cbc5b1
Due: none

fix: circle stroke value for 0 percent
  src/components/atoms/CircleProgress/CircleProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.15 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b6f7037d55b3accdc45deaacc694843641769b17
Due: none

fix: zero number entry in format state
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

Update NumberInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.16 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  9ef28535c9fda7384cbac388178626f8e39fd189
Due: none

fix: storybook configxx
  .storybook/main.cjs
  package-lock.json
  package.json
  src/components/atoms/Card/Card.stories.js
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/templates/Details/Details.stories.js
  src/components/templates/Profile/Profile.stories.js
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.17 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2cc9099875a4551400564d85f3a680b8c5b38f24
Due: none

fix: number input formatting for 0 value
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  f8056f2c173c71d03c588254247cbb649eef8144
Due: none

chore(release): 1.3.18 [skip ci]
  CHANGELOG.md
Due: none

fix: number input empty when backspace
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.19 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0f785d7ad03169926edf217aee601fc1808a2e5a
Due: none

fix: controlled value in numberinput
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.20 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3d8678202448d5f9dc1610c71e8b449337d25e61
Due: none

fix: topnav design for mobile
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.21 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0c2e20048edeb545988ed36d5728cc5e79398117
Due: none

fix: remove undefined classname in topnav
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.3.22 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1b0e0c3db5caa1af5d4a8c76bea45b5a47893e52
Due: none
