Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  75/5f204ddc922343bdaae3d9424619d51fda7c4e
Due: none

refactor: nest media blocks to avoid eslint error
  src/components/atoms/Anchor/anchor.module.css
  src/components/atoms/Button/button.module.css
  src/components/atoms/form.module.css
  src/components/structures/TopNav/topNav.module.css
  src/styles/base.css
Due: none

chore(release): 2.1.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  9f/ef9e3b2d3bfd76ed5bf0f59776f4c43fd76d7d
Due: none

chore(release): 2.1.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  6c/bd199156f71b18235bb3d2aac9156f202d54ad
Due: none

fix: remove uploadFiles prop from fileinput
  package-lock.json
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/Title/Title.tsx
  src/tools/uploadFile.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ae/807e6294adf5a07fb70fc450f3980bddd48904
Due: none

fix: number input state managed with parsedValue
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

refactor: update packages
  .storybook/preview.css
  package-lock.json
  package.json
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/structures/Page/Page.tsx
  src/components/structures/TopNav/TopNav.tsx
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  a2/431d169008a1e22e1c0753d48a9805b086ee18
Due: none

chore(release): 2.1.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

fix: numberinput formatting with both format and parse
  babel.config.cjs
  package-lock.json
  package.json
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: enable release on 1.x
  .github/workflows/semantic-release.yml
Due: none

chore: fix formattedinput props
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: add 1.x to release branches
  .releaserc.json
Due: prettier --write --cache

Notes added by 'git notes add'
  cd/a4eda5845d423d8594d16f6bd73228f18f0c35
Due: none

chore(release): 1.12.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  95/5279c1e42e5e442cbb675b0e5f639304453a01
Due: none

chore(release): 2.1.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  a1/6a37f8300ce223008d55beaea2854c7721a7c1
Due: none

fix: FormattedInput initial values
  package-lock.json
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: add circleprogress classname
  src/components/atoms/CircleProgress/CircleProgress.stories.tsx
  src/components/atoms/CircleProgress/CircleProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: fix type issues
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  f4/9c03a28afba19e20182513bd30a28115995b0e
Due: none

fix: remove the usage of onChangeValue from FormattedInput
  package-lock.json
  src/components/atoms/FormattedInput/FormattedInput.stories.js
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.js
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: fix types
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  92/eeece9f89b6080e51fe65bbf15c9e5ff974f57
Due: none

chore(release): 2.1.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  b2/d9d8bb3d31937b8c39f30bdf6ea8ac7b956364
Due: none

fix: phonenumber input too short value error
  package-lock.json
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: number input formatting when ending in zeros after decimal
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  f7/ca277e622f6f8ebdb08098ea58e6c1d2ea4a6c
Due: none

chore(release): 1.12.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

fix: enable defaultValue in HookFormInputWrapper
  package-lock.json
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
