Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

Update NumberInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  684d9521544b8f24a923388db0a7b7a1ae1c4cc3
Due: none

fix: add 'value' option to CircleProgress progres
  src/components/atoms/CircleProgress/CircleProgress.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  007ad1e69cfed294a7548b3b0cc6cb84a6673aa4
Due: none

chore(release): 1.12.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  cda4eda5845d423d8594d16f6bd73228f18f0c35
Due: none

refactor: update packages
  package-lock.json
  package.json
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0c9d95d19b5cd969a77d26646e251c68fdca2100
Due: none

fix: added child props to control error handling in hookformwrapper
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

feat: add Label component
  src/components/atoms/Anchor/Anchor.stories.tsx
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/Bookmark/Bookmark.tsx
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Card/Card.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FormGroup/FormGroup.tsx
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
  src/components/atoms/Hero/Hero.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.tsx
  src/components/atoms/Label.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.tsx
  src/components/atoms/Symbol/Symbol.tsx
  src/components/atoms/Tag/Tag.stories.tsx
  src/components/atoms/Tag/Tag.tsx
  src/components/atoms/Tag/TagLoader.tsx
  src/components/atoms/Text/Text.tsx
  src/components/atoms/TextGroup/TextGroup.stories.tsx
  src/components/atoms/TextGroup/TextGroup.tsx
  src/components/atoms/TextGroup/TextGroupLoader.tsx
  src/components/atoms/TextInput/PasswordInput.stories.tsx
  src/components/atoms/TextInput/TextInput.stories.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/label.module.css
  src/components/structures/Page/Page.tsx
  src/components/structures/SideNav/SideNavGroup.tsx
  src/components/structures/TopNav/TopNav.stories.tsx
  src/components/templates/Collection/index.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

fix: hook form erg msg component added in wrapper
  package-lock.json
  package.json
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/HookFormInputWrapper/hookFormWrapper.module.css
Due: eslint --cache --fix, prettier --write --cache

fix: hook form erg msg component added in wrapper
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: fix stories typing errors
  package-lock.json
  package.json
  rollup.config.js
  src/components/atoms/Anchor/Anchor.stories.tsx
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/Card/Card.tsx
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.tsx
  src/components/structures/TopNav/TopNav.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

fix: hook form erg msg component added in wrapper
  src/components/atoms/HookFormInputWrapper/CustomError.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: rename formerror component
  package-lock.json
  src/components/atoms/FormError.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/formError.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  10/95efdf27a631c363e9c2fdd174139bd54459a8
Due: none

fix: remove errors from TextInput
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  a5/1cb7cfc0932de58323d33ff6e82e38738cbc98
Due: none

fix: udpate HookFormInputWrapper props
  package-lock.json
  src/components/atoms/Anchor/Anchor.stories.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: add missing attributes to Label component
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Label.tsx
  src/components/atoms/label.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  f6/b9786d633c73a39364007dd2d3225f24e3f5e2
Due: none

refactor: update packages
  package-lock.json
  package.json
  src/components/atoms/Card/card.module.css
  src/components/atoms/Tag/tagLoader.module.css
  src/components/atoms/TextGroup/textGroupLoader.module.css
Due: prettier --write --cache

chore(release): 2.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  fa/1649fd43c20a77789a0d608d627ba0ec64f099
Due: none

fix: add miossing button variant type
  src/components/atoms/Button/Button.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.1.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  9f/e63dcc3fc19ebce585c671dd642ef9ed733a61
Due: none

chore: udpate package
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 2.1.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
