Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

Notes added by 'git notes add'
  8ac1be5e4cb12bba27218345faceb8db99541417
Due: none

fix: added inner class for page and changed side nave width
  package-lock.json
  src/components/structures/Page/Page.tsx
  src/styles/base.css
Due: eslint --cache --fix, prettier --write --cache

Update base.css
  src/styles/base.css
Due: none

fix: added inner class for page
  package-lock.json
  src/components/structures/Page/Page.tsx
Due: eslint --cache --fix, prettier --write --cache

feat: add CardLink component
  package-lock.json
  src/components/atoms/Card/Card.tsx
  src/components/molecules/CardLink/CardLink.stories.js
  src/components/molecules/CardLink/CardLink.tsx
  src/components/molecules/CardLink/cardLink.module.css
  src/components/molecules/index.ts
Due: eslint --cache --fix, prettier --write --cache

fix: password input visibility
  src/components/atoms/TextInput/PasswordInput.stories.js
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/atoms/TextInput/TextInput.stories.js
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  4c12e7dacffaa23620b13e41a4776319bececc3f
Due: none

fix: remove hardocded debug statements from NumberInput
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  7d8cf27eb50db218b9372a2c7b22407dca5ed9a1
Due: none

passing className as prop in CardLink.tsx
  src/components/molecules/CardLink/CardLink.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.11.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  738c43f2fc4468b4c6a203bd4955c49a33fda1de
Due: none

Update CardLink.tsx
  src/components/molecules/CardLink/CardLink.tsx
Due: eslint --cache --fix, prettier --write --cache

feat: add phone number input
  package-lock.json
  package.json
  src/components/atoms/FormattedInput/FormattedInput.stories.js
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/FormattedInput/formattedInput.module.css
  src/components/atoms/FormattedInput/index.ts
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.js
  src/components/atoms/NumberInput/NumberInput.stories.js
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.js
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: fix typescript errors
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/molecules/CardLink/CardLink.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  569188671ca377974af7397e4410330e9412ed7d
Due: none

fix: update jest config
  jest.config.ts
  package-lock.json
  package.json
  rollup.config.js
  src/components/atoms/Anchor/Anchor.test.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/atoms/TextInput/TextInput.test.tsx
  src/tools/__tests__/number.test.ts
  src/tools/number.ts
  tsconfig.json
  tsconfig.rollup.json
Due: eslint --cache --fix, prettier --write --cache

fix: rollup config path in package.json
  package.json
  rollup.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  d4a4039ac741aff439ae1acc1e100910b65cf032
Due: none

fix: added arc percent and some other fixes
  src/components/atoms/CircleProgress/CircleProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: typscript error for label ant-from-item-wrap
  package-lock.json
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: tsconfig for declaration files
  jest.config.js
  package-lock.json
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write --cache

chore: refactor arc height related code
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
  src/components/atoms/CircleProgress/CircleProgress.stories.tsx
  src/components/atoms/CircleProgress/CircleProgress.tsx
  src/components/atoms/CircleProgress/circleProgress.module.css
  tsconfig.json
Due: eslint --cache --fix, prettier --write --cache

chore: fix ts error
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

Notes added by 'git notes add'
  10d41f63c38b7a000551df26f4a5785c20768175
Due: none

chore(release): 1.12.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

fix: add name prop to AntFormItemWrapperProps
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  389f82134a3dc1e46c909bb36f52872134eff29e
Due: none

fix: extend AntFormItemWrapperProps from FormItemProps
  src/components/atoms/AntFormItemWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 1.12.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  a2475aef1ded8821d4e604574e83d52cf12dfba1
Due: none

fix: props name changed that was always truthy
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

refactor: dynamic passing format function as props
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

Update FormattedInput.tsx
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

Update NumberInput.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache
