Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

Notes added by 'git notes add'
  26/40754544a86b5d12996057ec5fd83f9e66a427
Due: none

fix: add custom media queries to output
  .storybook/preview.ts
  package-lock.json
  package.json
  src/styles/base.css
  src/tools/storybook.tsx
Due: eslint --cache --fix, prettier --write --cache

chore: fix icon maps in stories
  src/components/atoms/Anchor/Anchor.stories.tsx
  src/components/atoms/TextInput/TextInput.stories.tsx
  src/components/structures/TopNav/TopNav.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  3f/0bbe4db1d0f25a05a900cb689acc2e61ea71d3
Due: none

fix: remove console log from Anchor
  src/components/atoms/Anchor/Anchor.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  93/7fad084d7ca22c02b9189bd0ae4419b9c5cc51
Due: none

fix: set showError to true be default for HookFormInputWrapper
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  2e/a0fc0912388772b5c5f8bf45ac8b3e3e4fcaa3
Due: none

refactor: move common form styles to reusable components
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/button.module.css
  src/components/atoms/Card/Card.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FormControl.tsx
  src/components/atoms/Image/Image.tsx
  src/components/atoms/InputWrapper.tsx
  src/components/atoms/TextInput/TextInput.stories.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/formControl.module.css
  src/components/atoms/inputWrapper.module.css
  src/components/structures/TopNav/TopNav.tsx
  src/styles/base.css
  src/tools/storybook.tsx
  src/tools/utils.ts
  src/wrappers/span.module.css
  src/wrappers/span.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.3.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  15/a93b5934b5bc6cff89099f747b0a0fecfcc7f8
Due: none

chore: css variables for screen widths
  src/styles/base.css
Due: none

Merge remote-tracking branch 'origin/main' into chore/css-vars
  package-lock.json
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/components/structures/TopNav/topNav.module.css
  src/styles/base.css
Due: eslint --cache --fix, prettier --write --cache

feat: add support for react-select in HookFormInputWrapper
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  3f/d0d30cfb9824ec762e602c20ea7b981c7e81f5
Due: none

fix: improve setting FormattedInput defaultValue
  .storybook/preview.ts
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
  src/components/atoms/FormattedInput/FormattedInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: improve invalid numbers handling in PhoneNumberInput
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/PhoneNumberInput/phoneNumberInput.module.css
Due: eslint --cache --fix, prettier --write --cache

fix: remove redundant `span`s from TextInput icon
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/wrappers/span.module.css
Due: eslint --cache --fix, prettier --write --cache

fix: allow value update without format prop in NumberInput
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0b/d6a148f502329bdfa90f774c2ba962dbbf0e5b
Due: none

fix: use defaultImport for antd components
  .github/workflows/semantic-release.yml
  .storybook/preview.css
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/atoms/AntFormItemWrapper.tsx
  src/components/atoms/Divider/Divider.stories.tsx
  src/components/atoms/Divider/Divider.tsx
  src/components/atoms/formControl.module.css
  src/styles/base.css
  src/styles/media.ts
  src/styles/utils/flex.module.css
  src/tools/svg.ts
Due: eslint --cache --fix, prettier --write --cache

fix: fix label style for PhoneNumberInput
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: fix story imports into another story
  .storybook/preview.css
  package-lock.json
  package.json
  src/components/atoms/Bookmark/Bookmark.stories.js
  src/components/atoms/Bookmark/Bookmark.stories.tsx
  src/components/atoms/Card/Card.stories.tsx
  src/components/atoms/FormGroup/FormGroup.stories.js
  src/components/atoms/FormGroup/FormGroup.stories.tsx
  src/components/atoms/Hero/Hero.stories.js
  src/components/atoms/Hero/Hero.stories.tsx
  src/components/atoms/Image/Image.stories.tsx
  src/components/atoms/Image/Image.tsx
  src/components/atoms/Spinner/Spinner.stories.js
  src/components/atoms/Spinner/Spinner.stories.tsx
  src/components/atoms/Text/Text.stories.tsx
  src/components/atoms/TextIcon/TextIcon.stories.js
  src/components/atoms/TextIcon/TextIcon.stories.tsx
  src/components/molecules/CardLink/CardLink.stories.js
  src/components/molecules/CardLink/CardLink.stories.tsx
  src/components/structures/Page/Page.stories.js
  src/components/structures/Page/Page.stories.tsx
  src/components/structures/SideNav/SideNav.stories.js
  src/components/structures/SideNav/SideNav.stories.tsx
  src/components/structures/TopNav/TopNav.stories.tsx
  src/components/templates/Collection/Collection.stories.tsx
  src/components/templates/Collection/index.tsx
  src/components/templates/Details/Details.stories.js
  src/components/templates/Details/Details.stories.tsx
  src/components/templates/Profile/Profile.stories.js
  src/components/templates/Profile/Profile.stories.tsx
  types/global.d.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  6d/a18892c0c087741434838cda5224e5601db5ab
Due: none

fix: improve form control icon styles
  package-lock.json
  package.json
  src/components/atoms/Button/button.module.css
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/styles/base.css
  src/wrappers/span.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  0e/6cf5d86812b71ef6746eab4e5e43e2648937a3
Due: none

fix: add normalize.css to base.css
  package-lock.json
  package.json
  postcss.config.cjs
  src/styles/base.css
Due: prettier --write --cache

chore(release): 3.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  8e/15f2bd30e3724881895c687195878af51f9442
Due: none

fix: fix page sidenav style
  src/components/structures/Page/page.module.css
Due: none

chore(release): 3.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  9b/ac5624a1b3a24ff1b2d6913239c3039fa47b8c
Due: none
