Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{html,json}": ["prettier --write --cache"]
}

fix: add missing style imports
  package-lock.json
  package.json
  postcss.config.cjs
  rollup.config.js
  src/components/atoms/TextInput/textInput.module.css
  src/components/structures/TopNav/topNav.module.css
  src/styles/base.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  92/24e34c9a49f648598a8f5cae9356ecc1503d4c
Due: none

refactor: update wo-library
  package-lock.json
  package.json
Due: prettier --write --cache

chore(release): 3.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  35/c9a638caf5f9902255b51dcf6af9873ae5113d
Due: none

fix: 0 maxFractionDigits
  src/tools/__tests__/number.test.ts
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

fix: page innerClassNames
  src/components/structures/Page/Page.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: use maximumFractionDigits in NumberInput when 0
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.tsx
  src/tools/number.ts
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  29/77130da4c34d5f20aceacd626d66ab61e84ed9
Due: none

fix: circle progress colors props
  src/components/atoms/CircleProgress/CircleProgress.stories.tsx
  src/components/atoms/CircleProgress/circleProgress.module.css
  src/components/atoms/CircleProgress/circleProgress.stories.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  12/85e4c40caba1adff7424e947337963b354846b
Due: none

fix: round edges in small arc length
  src/components/atoms/CircleProgress/CircleProgress.tsx
  src/components/atoms/CircleProgress/circleProgress.module.css
Due: eslint --cache --fix, prettier --write --cache

chore: remove duplicate call of getCircleStyles
  src/components/atoms/CircleProgress/CircleProgress.stories.tsx
  src/components/atoms/CircleProgress/CircleProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  c3/62653db1246c678b0b0a237dc05b32d43871e3
Due: none

fix: remove redundant calculations
  src/components/atoms/CircleProgress/CircleProgress.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: hook form input wrapper react select
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

fix: add early return to fix control flow in handleHookFormChange
  src/components/atoms/CircleProgress/CircleProgress.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  8d/72b65009ec3a2d9c6703ab2573ff6ed087df2b
Due: none

fix: fix input icon styles
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/TextInput/PasswordInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/wrappers/span.module.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  68/45b3dddf537b359f824b4af3912d4eaa90fa40
Due: none

fix: top nav z-index
  src/components/structures/Page/page.module.css
Due: none

fix: update z-index variables
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/structures/Page/page.module.css
  src/styles/base.css
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.0.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  63/32f736ba6c3e4f1737dd25e6f51cce747307d8
Due: none

fix: formatted input id
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --write --cache

feat: enable individual css extraction for modules
  package-lock.json
  package.json
  patches/rollup-plugin-postcss+4.0.2.patch
  rollup.config.js
  src/themes/fresh.module.css
  src/themes/index.ts
  src/themes/trusty.module.css
  tsconfig.json
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  6e/e2c00cbf6402003335f3fbf755c2fd47d27fe9
Due: none

fix: corrected css for long names in fileinput
  src/components/atoms/FileInput/fileInput.module.css
Due: none

fix: remove redundant story
  src/components/atoms/FormattedInput/FormattedInput.stories.tsx
Due: eslint --cache --fix, prettier --write --cache

chore(release): 3.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  29/8284d2f6b6373e846be899f36ffeafdef77242
Due: none

chore(release): 3.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ad/8458cf2d289c348fa46ea41e4a961127728254
Due: none
